<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CircleAndComments</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CircleAndComments.styles.css" asp-append-version="true" />   
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.2.621/styles/kendo.default-main.min.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/konva@8/konva.min.js"></script>
</head>
<body>
    <header>
       
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">

    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2022.2.621/js/kendo.all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>  
    <script src="~/Konva/Shapes/Circle.js" ></script>  
    <script src="~/Konva/Shapes/Text.js" ></script>  
    <script src="~/Konva/Shapes/Rectangle.js" ></script> 
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
