@{
    Layout = "_Layout";
}
<body>
    <div id="container"></div>
</body>
<script type="text/javascript">

$(document).ready(function(){

//Загружаем все объекты на страницу

    const data = new Data("/Circle/GetAllCirclesAndComments");
    data.getAllCircle();

});
</script>
