@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layou";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p id="hello"><p/>
</div>
<script type="text/javascript">
$    
</script>
