@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<body>
   
    <div id="container"></div>
    

</body>
<script type="text/javascript">

$(document).ready(function() {

    $.ajax({
        url:"/Circle/GetAllCirclesAndComments",
        dataType:"json",
        success: function(data) {
            
        var width = window.innerWidth;
        var height = window.innerHeight;

        var stage = new Konva.Stage({
        container: 'container',
        width: width,
        height: height,
      });

         var layer = new Konva.Layer();
         for (var i = 0; i < data.length; i++) { 
            var x = data[i].Color;
            console.log(x);
         var color = data[i].Color;
         var group = new Konva.Group({});
        var circle = new Konva.Circle({
        x: data[i].PointX,
        y: data[i].PointY,
        radius: data[i].Radius,
        fill:data[i].Color
      });
        group.add(circle);
                var height = 20;
                for (var j = 0; j < data[i].CommentsInCircle.length; j++) { 
                     height = height + 35;
        var CommentText = new Konva.Text({         
 x: data[i].PointX,
 y: data[i].PointY + height,
 text: data[i].CommentsInCircle[j].Text,
 fontSize: 30,
 fontFamily: 'Calibri',
 fill:'green',
 });
  CommentText.offsetX(CommentText.width() / 2);                 
 var rect = new Konva.Rect({
 x: data[i].PointX,
 y: data[i].PointY + height,
 stroke: '#555',
 strokeWidth: 1,
 fill: data[i].CommentsInCircle[j].Color,
 width: CommentText.width(),
 height: CommentText.height(),
 
 });
  rect.offsetX(rect.width() / 2); 

             
                  group.add(rect);
                  group.add(CommentText);
                }


      layer.add(group);
      stage.add(layer);
      
            }
            
        }
    });



/* $("#grid").kendoGrid({
        dataSource: {
            type: "json",
            transport: {
                read: "/Circle/GetAllCirclesAndComments",
            },
         
        }
    });
*/
  

  });
</script>
