@{
    ViewData["Title"] = "Circle";
    Layout = "_Layout";
}
<body>
    <div id="container"></div>
</body>
<script type="text/javascript">

$(document).ready(function(){

    const data = new Data("/Circle/GetAllCirclesAndComments");

//Загружаем все объекты на страницу

    data.getAllGroup();

    /*
    circle.on('dblclick', function() {
        var Id = circle.Id;
        alert(`delete ${Id}`);
        $.ajax({
            url: '/Circle/DeleteCirclesAndComments' + Id,
            type: 'Delete',
            success: function(result) {
                aler("данные удалены");
            }
        });
    });
    */


});


</script>
