@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<body>
     <h1>Hello World</h1>
    <div id="grid"></div>






</body>
<script type="text/javascript">
$(document).ready(function() { 
    $("#grid").kendoGrid({
        dataSource: {
            type: "",
            transport: {
                read: "/Circle/GetAllCirclesAndComments",
            }
        }
    });
});
</script>
